{% extends 'base.html' %}{% load static %}{% load my_tags %}{% load humanize %}
{% block content_main %}
    <!-- Start Breadcumbs Area -->
    <div class="breadcumbs-area breadcumbs-bg-1 bc-area-padding">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Услуги Автосервиса</h2>
                            <span style="color: #c3c3c3"><a href="{% url 'main:main' %}">Главная</a>
                                / <a href="{% url 'all_service:all_service-list' %}">{% verbose_name_plural object_list %} </a>
                            / {% verbose_name object %} {{ object.heading }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcumbs Area -->
    <!-- Start Services Area -->
    <div class="content-block-area">
        <div class="container">
            <div class="row">
                <!-- Single Service Left -->
                <div class="col-sm-9">
                    <div class="slider-wrapper">
                        <!-- Swiper -->
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper">
                                {% if object.img %}
                                    <div class="swiper-slide"
                                         style="background-image:url({{ object.img.url }})"></div>
                                {% else %}
                                    <div class="swiper-slide"
                                         style="background-image:url({% static 'main/assets/img/services/services-img.jpg' %})"></div>
                                {% endif %}
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                        </div>
                        <div class="swiper-container gallery-thumbs">
                            <div class="swiper-wrapper">
                                {% if object.img %}
                                    <div class="swiper-slide"
                                         style="background-image:url({{ object.img.url }})"></div>
                                {% else %}
                                    <div class="swiper-slide"
                                         style="background-image:url({% static 'main/assets/img/services/services-img.jpg' %})"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="service-content">
                        <h3 class="page-header">{{ object.heading }}</h3>
                        <p>{{ object.heading_min | safe }}</p>
                        <p>{{ object.heading_max | safe }} </p>


                        <h3 class="page-header">Операции, Стоимость</h3>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% if service_single %}
                                {% for foo in service_single %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                                            <h4 class="panel-title">
                                                <a {% if forloop.first %}class="" {% else %}
                                                   class="collapsed"{% endif %} role="button"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapse{{ foo.id }}"
                                                   aria-expanded="{% if forloop.first %} true {% else %} false {% endif %}"
                                                   aria-controls="collapse{{ foo.id }}">
                                                    <i class="more-less {% if forloop.first %} none {% else %} glyphicon {% endif %} fa fa-plus"></i>
                                                    {{ foo.name }} | <span
                                                        class="price-value"> {{ foo.price | intcomma }}<span
                                                        class="currency">  ₽</span></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{ foo.id }}" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="heading{{ foo.id }}">
                                            <div class="panel-body">
                                                {{ foo.title | safe }}

                                                <div class="slider-wrapper">
                                                    <!-- Swiper -->
                                                    <div class="swiper-container gallery-top">
                                                        <div class="swiper-container gallery-thumbs">
                                                            <div class="swiper-wrapper">
                                                                {% if foo.img %}
                                                                    <div class="swiper-slide"
                                                                         style="background-image:url({{ foo.img.url }}); height: 200px"></div>
                                                                {% else %}
                                                                    <div class="swiper-slide"
                                                                         style="background-image:url({% static 'main/assets/img/services/services-img.jpg' %}); "></div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                нет дополнителных операций
                            {% endif %}

                        </div><!-- panel-group -->
                    </div>
                </div>
                <!-- End Single Service Left -->

                <!-- Single Service Right -->
                <div class="col-sm-3">
                    <div class="vertical-menu left-widget">
                        <ul>
                            <li class="active"><a href="{% url 'all_service:all_service-list' %}"><i
                                    class="fa fa-arrow-circle-right pull-right"></i>
                                Рекомендуемые {% verbose_name_plural object_list %}</a></li>
                            {% if object_list %}
                                {% for object in object_list %}
                                    <li><a href="{{ object.get_absolute_url_detail }}">{{ object.heading }} <i
                                            class="fa fa-arrow-circle-right pull-right"></i></a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="col-sm-12 col-md-12 text-center">
                                    <a href="{% url 'main:main' %}" class="btn theme-btn">Услуг автосервис не
                                        предоставляет</a>
                                </div>
                            {% endif %}
                        </ul>
                    </div>


                </div>
                <!-- End Single Service Right -->
            </div>
        </div>
    </div>
    <!-- End Services Area -->

{% endblock %}
