<div class="homepage-slides-wrapper">
    <!-- Slider main container -->
    <div class="swiper-container swiper1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide slide-bg-1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <h1>С более чем 25-летним опытом работы в сфере автосервиса</h1>
                                    <p>Ценность - это услуга доверия.</p>
                                    <a class="btn theme-btn" href="appointment.html">записаться на прием</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide-bg-2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <h1>Всегда Правильно! Дешево! Быстро!</h1>
                                    <p>«Если бы вы приехали на месяц раньше, этой крупной поломки могло бы и не
                                        быть»</p>
                                    <a class="btn theme-btn" href="appointment.html">записаться на прием</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide-bg-3">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <h1>Авто Магазин</h1>
                                    <p>«У нас всегда есть запчасти на ваш автомобиль».</p>
                                    <a class="btn theme-btn" href="appointment.html">make an appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination1"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</div>