{% load static %}
<div class="main-menu-area" data-spy="affix" data-offset-top="55">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'main/assets/img/logos/logo.png' %}" alt="Logo"></a>
                </div>
            </div>

            <div class="col-md-9">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div class="main-menu">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Главная <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="{% url 'main:main' %}">Главная</a></li>
{#                                        <li><a href="#">Home V.1</a></li>                                        #}
                                    </ul>
                                </li>
{#                                <li class="dropdown">#}
{#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                                       aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-angle-down"></i></a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="testimonials.html">testimonials</a></li>#}
{#                                        <li><a href="our-team.html">our team</a></li>#}
{#                                        <li><a href="pricing.html">Pricing Table</a></li>#}
{#                                        <li><a href="cooming-soon.html">Cooming Soon</a></li>#}
{#                                        <li><a href="signup.html">Sign up</a></li>#}
{#                                        <li><a href="signin.html">Sign in</a></li>#}
{#                                        <li><a href="404.html">404 Not Found</a></li>#}
{#                                        <li class="dropdown-menu right-top">#}
{#                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                                               aria-haspopup="true" aria-expanded="false">Page Two <i#}
{#                                                    class="fa fa-angle-right"></i></a>#}
{#                                            <ul class="dropdown-menu">#}
{#                                                <li><a href="#">Sub Page</a></li>#}
{#                                                <li><a href="#">Sub Two</a></li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li><a href="#">Page Three</a></li>#}
{#                                        <li><a href="#">Page Four</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li><a href="about-us.html">About</a></li>#}
{#                                <li><a href="our-mission.html">Our Mission</a></li>#}
{#                                <li class="dropdown">#}
{#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                                       aria-haspopup="true" aria-expanded="false">Services <i#}
{#                                            class="fa fa-angle-down"></i></a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="services.html">Services V.1</a></li>#}
{#                                        <li><a href="services-v2.html">Services V.2</a></li>#}
{#                                        <li><a href="single-service.html">Single Service V.1</a></li>#}
{#                                        <li><a href="single-service-v2.html">Single Service V.2</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="dropdown">#}
{#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                                       aria-haspopup="true" aria-expanded="false">Gallery <i#}
{#                                            class="fa fa-angle-down"></i></a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="gallery-v1.html">Gallery V.1</a></li>#}
{#                                        <li><a href="gallery-v2.html">Gallery V.2</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li><a href="appointment.html">Appointment</a></li>#}
{#                                <li class="dropdown">#}
{#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                                       aria-haspopup="true" aria-expanded="false">Blog <i class="fa fa-angle-down"></i></a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="blog.html">Blog Full width</a></li>#}
{#                                        <li><a href="blog-masonary.html">Blog masonary</a></li>#}
{#                                        <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>#}
{#                                        <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>#}
{#                                        <li><a href="single-blog.html">Single Blog V.1</a></li>#}
{#                                        <li><a href="single-blog-style2.html">Single Blog V.2</a></li>#}
{#                                        <li><a href="single-blog-left-sidebar.html">Single Blog V.3</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
                                <li><a href="contact-us.html">Наши контакты</a></li>
                                <li><a href="#search"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</div>