{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="{% static 'main/assets/img/favicon/logo.ico' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css' %}">
    <!-- Font-awesome CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/font-awesome.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/flaticon.css' %}">
    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/ionicons.min.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/owl.carousel.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/magnific-popup.css' %}">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/swiper.min.css' %}">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/datepicker.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/animate.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'main/assets/css/responsive.css' %}">
    <!-- jQuery min js -->
    <script src="{% static 'main/assets/js/jquery-3.4.1.min.js' %}"></script>
{#    <script src="{% static 'main/assets/js/jquery-1.12.4.min.js' %}"></script>#}


</head>
<body>
<div class="wrapper">
    <div class="content">
        <!-- Preloader -->
        <div class="site-preloader-wrap">
            <div class="cssload-loader"></div>
        </div>
        <!-- End Preloader -->
        {% block address %}
            <!-- Start область верхнего заголовка -->
        {% endblock %}
        <!-- Start главного меню -->
        {% include 'main/main_menu/main_menu.html' %}
        <!-- End главного меню -->
        {% block content_main %}

        {% endblock %}
    </div>
</div>
<!-- Footer Area -->
<div class="footer">
    <footer class="site-footer">

            <!-- Start область верхнего заголовка -->
       {% include 'address/index.html' %}
        <!-- Footer Bottom Area -->
        <div class="footer-copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-5">
                        &copy; Авторские права
                        <script type="text/javascript">
                            var d = new Date();
                            document.write(d.getFullYear());
                        </script>
                        Все права защищены.
                    </div>
                    <div class="col-md-6 col-sm-7 text-right">
                        <a href="#">Глобус</a> <span class="seprator">|</span> <a href="{% url 'main:main' %}">Чемпион</a>
                    </div>
                </div>
            </div>
        </div> <!-- End Footer Bottom Area -->
    </footer> <!-- End Footer Area -->
</div>
<!-- Back Top top -->
<a href="#content" class="back-to-top">Top</a>
<!-- End Back Top top -->
<!-- SearchBox Modal -->
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="SEARCH KEYWORD(s)"/>
        <button type="submit" class="btn theme-btn"><i class="fa fa-search"></i> Search</button>
    </form>
</div>
<!-- End SearchBox Modal -->
{#    <script src="{% static 'main/assets/js/jquery-1.12.4.min.js' %}"></script>#}
<!-- Bootstrap JS file -->
<script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>
<!-- Owl-Carousel JS file -->
<script src="{% static 'main/assets/js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup JS file -->
<script src="{% static 'main/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Mixitup JS file -->
<script src="{% static 'main/assets/js/mixitup.min.js' %}"></script>
<!-- Swiper JS file -->
<script src="{% static 'main/assets/js/swiper.jquery.min.js' %}"></script>
<!-- Datepicker JS file -->
<script src="{% static 'main/assets/js/datepicker.js' %}"></script>
<!-- WOW JS file -->
<script src="{% static 'main/assets/js/wow.min.js' %}"></script>
<!-- Isotop JS JS file -->
<script src="{% static 'main/assets/js/isotope.pkgd.min.js' %}"></script>
<!-- Waypoints JS file -->
<script src="{% static 'main/assets/js/waypoints.min.js' %}"></script>
<!-- Counter JS file -->
<script src="{% static 'main/assets/js/jquery.counterup.min.js' %}"></script>
<!-- RipplesJS -->
<script src="{% static 'main/assets/js/jquery.ripples-min.js' %}"></script>
<!-- YTPlayer JS -->
<script src="{% static 'main/assets/js/jquery.mb.YTPlayer.min.js' %}"></script>
<!-- Jarallax JS -->
<script src="{% static 'main/assets/js/jarallax.min.js' %}"></script>
<!-- Parsley JS -->
<script src="{% static 'main/assets/js/parsley.min.js' %}"></script>
<!-- jQuery Google Map JS file -->
<script src="{% static 'main/assets/js/jquery.googlemap.js' %}"></script>
<!-- Google Map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0jIY1DdGJ7yWZrPDmhCiupu_K2En_4HY"></script>
<!-- Custom JS file -->
<script src="{% static 'main/assets/js/active.js' %}"></script>
</body>
</html>